.navbar-principal {
    background: #9db5db;
    padding: 0 !important;
}

.navbar-saudacao{
    background: #dbdbce ;
    padding: 0 !important;
}

.navbar .navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 28px
}

a.nav-link {
    color: rgb(255, 255, 255)
}

ul.navbar-nav {
    position: absolute;
    right: 10%;
}

.container.main-content {
    margin-top: 2rem;
}

.div-login{
    background:#dbdbce;
}

.white-text{
    color: #ffffff;
    text-color:#ffffff;
}